<h1>Listing authors</h1>
<%= form_for Author.new, :html => {class: "addAuthorForm inlineb"} do |f| %>
  <%= f.text_field(:firstName, :placeholder => "First Name") %>
  <%= f.text_field(:lastName, :placeholder => "Last Name") %>
  <%= f.text_field(:book_id, :placeholder => "Book ID")%>
  <%= f.submit("Add") %>
<% end %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Book Id</th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.firstName%></td>
        <td><%= author.lastName%></td>
        <td><%= author.book_id%></td>
        <td><%= link_to 'Edit', edit_author_path(author) %>
        <%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

