<h1 style="text-align: center;">Admin Page</h1>

<div class="adminLinkContainer">
	<%= link_to "My Home Page", myLibrary_home_index_path, :class => "btn btn-default adminLink"  %>
	<%= link_to "Books", books_path, :class => "btn btn-default adminLink"  %>
	<%= link_to "Authors", authors_path, :class => "btn btn-default adminLink"  %>
	<%= link_to "Tags", tags_path, :class => "btn btn-default adminLink"  %>
	<%= link_to "Libraries", libraries_path, :class => "btn btn-default adminLink"  %>
	<%= link_to "Forums", forums_path, :class => "btn btn-default adminLink"  %>
	<%= link_to "Comments", comments_path, :class => "btn btn-default adminLink"  %>
	<%= link_to "Orders", orders_path, :class => "btn btn-default adminLink"  %>
	<%= link_to "Likes", likes_path, :class => "btn btn-default adminLink"  %>
	<%= link_to "Referenced Books", referencedbooks_path, :class => "btn btn-default adminLink"  %>
	<%= link_to "Trackers", trackers_path, :class => "btn btn-default adminLink"  %>

</div>

