<h1>Listing orders</h1>

<%= link_to 'New Order', new_order_path, :class => "btn btn-default index-new-button" %>


<table class="table  table-bordered">
  <thead>
    <tr>
      <th>User ID</th>
      <th>Book ID</th>
      <th>Calculated Time Used(in hours)</th>
      <th>Cost</th>
      <th>Trackers</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.user_id%> - <%=order.user.fullName%></td>
        <td><%= order.book_id%> - <%=order.book.title%> (ISBN: <%=order.book.ISBN%>)</td>
        <td><%= order.calculated_timeused%></td>
        <td><%= order.cost%></td>
        <td>
          <ul class="libraryUsers">
            <%for tracker in order.trackers%>
              <li>
                from <%= tracker.start_time.to_s(:long)%> to <%= tracker.end_time.to_s(:long)%>
              </li>
            <%end%>
          </ul>
        </td>
        <td><%= link_to 'Edit', edit_order_path(order) %>
        <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

