<h1>Listing tags</h1>
<%= form_for Tag.new, :html => {class: "addAuthorForm inlineb"} do |f| %>
  <%= f.text_field(:name, :placeholder => "Name")%>
  <%= f.submit("Create") %>
<% end %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Tag Name</th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.name%></td>
        <td><%= link_to 'Edit', edit_tag_path(tag) %>
        <%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

