<h1>Listing trackers</h1>
<%= link_to 'New Tracker', new_tracker_path, :class => "btn btn-default index-new-button" %>

<table class="table">
  <thead>
    <tr>
      <th>User ID</th>
      <th>Book ID</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @trackers.each do |tracker| %>
      <tr>
        <td><%= tracker.user_id%> - <%=tracker.user.fullName%></td>
        <td><%= tracker.book_id%> - <%=tracker.book.title%> (ISBN: <%=tracker.book.ISBN%>)</td>
        <td><%= tracker.start_time.to_s(:long)%></td>
        <td><%= tracker.end_time.to_s(:long)%></td>
        <td><%= link_to 'Edit', edit_tracker_path(tracker) %>
        <%= link_to 'Destroy', tracker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

